.refresh_button button {
    background-color: red;
    width: 100px;
    height: 100px;
    font-size: 24px;
}

.refresh_button button:hover {
    background-color: #f0f0f0;
}
h3 {
    font-family: Arial;
    font-size:15px ;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}
