.refresh_button button {
    background-color: red;
    width: 100px;
    height: 100px;
    font-size: 24px;
    position:relative;
    left:950px;
    bottom:447px
}

.refresh_button button:hover {
    background-color: white;
}
h3 {
    font-family: Arial;
    font-size:100px ;
    color:white
}
h4 {
    font: size 1px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color:white
}
#Name1{
    color:black;
    background-color: aqua;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    margin: 1px;
}
#Name2{
    color:black;
    background-color: aqua;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    margin: 1px;
    
}
.pos1  {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin: 1px;
    position: relative;
    left: 605px;
    bottom:200px;
    font-size: 30px;
    
}

.pos2  {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin: 1px;
    position: relative;
    left: 610px;
    bottom:200px;
    font-size: 30px;
}

.pos3  {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin: 1px;
    position: relative;
    left: 615px;
    bottom:200px;
    font-size: 30px;
}
body {
    background-color: black;
}

.player-box {
    border: 2px solid black;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    
    
}
